h1{
    text-align: center;
    letter-spacing: 0.05em;
    font-size: 2.5em;
}
.box{
    width: 40%;
    background-color: white;
    border: 2px dashed black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

h2{
    text-align: center;
    letter-spacing: 0.01em;
    font-size: 2em;
}

form{
    text-align: center;
    padding-bottom: 5%;
}
li{
   display: flex;
    vertical-align: middle;
    margin-left: 10%;
    margin-right: 30%;
    justify-content: space-between;
}
.delete{
    vertical-align: middle;

}